.azul{
  background-color: blue;
}
h1,h2{
  color:white;
}
a{
  color:white;
  text-decoration: none;
}
.black{
  background-color: cyan;
}
.black ol li:first-child{
  color:blue;
}

.black li:first-of-type +li{
  color:red;
}

.black ol li:last-child{
  color:green;
}

.caja{
  background-color:green;
  padding: .5em;
  border: .6em solid yellow;
}

.caja2{
  background-color:red;
  padding:.5em;
  margin-top: 1em;
  border: .6em solid green;
  visibility: hidden;
}

h2{
  text-align: center;
}
.caja3{
  background-color: pink;
}

body{
  margin: 1em;
}
h1{
  margin-top: .5em;
}
